<script>
import { reactive, ref,h } from "vue"
import { gui } from "./vue";
import { curl } from ".";
import { smb } from './symbol';
export const router = reactive({
    path:location.pathname,
    root:null,
})
window.router = router
export default {
    path:ref(location.href),
    root:ref(),
    computed:{
        cmp(){
            let component;
            let target = router.root;
            for(const name of router.path.split('/').filter(e=>e)){
                if(!target){break}
                target = target[curl.get](name)
            }
            if(!target?.[gui.page]){return}
            console.log(target)
            component = h(target[gui.page],{target})
            let parent = target
            while(parent){
                const wrapper = parent[gui.wrapper]
                if(wrapper){component = h(wrapper,{target},[component])}
                parent = parent[curl.wrapper]
            }
            return component
        }
    }
}
</script>
<template>
    <component v-bind="$attrs" :is="cmp"/>
</template>